@layer components {
  .hero {
    @apply relative;

    @media (min-width: 768px) {
      background-image:
        url('~/assets/hero-decor-1.svg'), url('~/assets/hero-decor-1.svg');
      background-repeat: no-repeat, no-repeat;
      background-size: 660px, 1438px;
      background-position:
        calc(50% - 550px) calc(50% - 300px),
        calc(50% + 450px) calc(50% + 200px);
    }
  }
}
