@layer objects {
  .title {
    @apply font-title font-bold;
  }

  .cv-title {
    @apply text-fluid-3xl inline-grid font-semibold uppercase;

    @media print {
      @apply text-lg;
    }

    &::after {
      @apply block w-full h-0.5 bg-current mt-1;
      content: '';
    }
  }

  .cv-subtitle {
    @apply font-semibold text-fluid-lg;
  }

  @media print {
    .cv-title {
      text-transform: none;

      &::after {
        display: none;
      }
    }
  }
}
